In [197]:
 # Dependencies and Setup
import pandas as pd
import numpy as np

In [92]:
# File Load
file_to_load = "Resources/purchase_data.csv"

In [198]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [94]:
#check for dtypes for analysis 
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [95]:
# Display the total number of players (sorting by the SN col)
total_players= purchase_data.groupby('SN').count()
print('Total Players')
len(total_players.index)

Total Players

576

In [96]:
#number of unique items (by Item Name for different games)
game_titles=purchase_data['Item Name'].nunique()
game_titles

179

In [97]:
#average Price 
avg_price= purchase_data['Price'].mean()
avg_price

3.0509871794871795

In [98]:
#total Purchases (count of Purchase Id)
total_purch= purchase_data['Purchase ID'].count()
total_purch

780

In [99]:
# Total Revenue (sum of Price col)
total_rev= purchase_data['Price'].sum()
total_rev

2379.77

In [104]:
# Print a Summary table of game_titles, avg_price, total_rev
data= [(game_titles, avg_price, total_purch, total_rev)]
summary_df=pd.DataFrame(data,columns= ['Number of Unique Items', 'Average Price', 'Number of Purchases', 'Total Revenue'])
summary_df
#Needs formatting

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [88]:
#Percentage and Count of Male Players

                                           0
Number of Unique Items                 [179]
Average Price           [3.0509871794871795]
Number of Purchases                    [780]
Total Revenue                      [2379.77]

In [ ]:
#Summary Chart by gender (Total count and Percentage)

In [194]:
gender= purchase_data.groupby('Gender').count()
gender_1= gender.rename(columns= {'Purchase ID' : 'Total Count'})
gender_2= gender_df.drop(columns=['SN','Age','Item ID','Item Name','Price'])
g_total= gender_2['Total Count'].sum()
gender_2['Percentage of Players']= (gender_2['Total Count'] / g_total).astype(float).map("{:.2%}".format)
gender_2

                       Total Count Percentage of Players
Gender
Female                         113                14.49%
Male                           652                83.59%
Other / Non-Disclosed           15                 1.92%

In [212]:
# Purchasing Analysis (by gender, purchase count, average purchase price, total purchase value, avg total purchas per person
purchase_data['price_copy']=purchase_data['Price']
grouped_purch= purchase_data.groupby('Gender').agg({'Item ID' : ['count'], 'Price' : ['mean'], 'price_copy' : ['sum']})
Purch_1= grouped_purch.rename(columns={'Item ID': 'Purchase Count', 'Price':'Average Purchase Price', 'price_copy' : 'Total Purchase Value'})
Purch_1['Avg Total Purchase per Person']= (Purch_1['Total Purchase Value'] / 30)
Purch_1

#needs to be complete

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
,count,mean,sum,
Gender,,,,
Female,113,3.203009,361.94,12.064667
Male,652,3.017853,1967.64,65.588000
Other / Non-Disclosed,15,3.346000,50.19,1.673000

In [247]:
#age demographics (bin)
purchase_data['Age Ranges']= pd.cut(purchase_data['Age'], bins= [0,10,15,20,25,30,35,40,100], labels= ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+'])
grouped_age= purchase_data.groupby('Age Ranges').agg({'Purchase ID' : ['count']})
grouped_age['Percentage of Players']=(grouped_age['Purchase ID'] / grouped_age['Purchase ID'].sum())

age_df= grouped_age.rename(columns={'Purchase ID' : 'Purchase Count'})
age_df

#format

           Purchase Count Percentage of Players
                    count
Age Ranges
<10                    32              0.041026
10-14                  54              0.069231
15-19                 200              0.256410
20-24                 325              0.416667
25-29                  77              0.098718
30-34                  52              0.066667
35-39                  33              0.042308
40+                     7              0.008974

In [251]:
#age demographics 
age_analysis= purchase_data.groupby('Age Ranges').agg({'Purchase ID' : ['count'], 'Price' : ['mean'], 'price_copy' : ['sum'],})
age_analysis['Avg Total Purchase per Person']= age_analysis['price_copy'].div('Purchase ID')
age_analysis

TypeError: ufunc 'true_divide' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''